{% extends "base.html" %}

{% block container %}

  <h3>Esqueceu a senha?</h3>
  <p>Entre com seu endereço de e-mail abaixo, e nos iremos lhe enviar as instruções para definir a sua senha.</p>
    <div class="form-group">
        <form action="" method="POST">
            <div class="col-md-6">
                {% csrf_token %}
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>      
        </form>
    </div>
{% endblock container %}