{% extends "base.html" %}

{% block container %}

    <!-- Page Content -->
    <div class="container top-contact">
        <h1>Contatos:</h1>
    <div class="row mt-3">
        <div class="col-md-6">
            <img src="../static/img/email.png" alt="logo-email">  mtnomundao@mtnomundao.com.br
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-6">
            <img src="../static/img/contato.png"> (65) 98888-8888
        </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-6">
          <img src="../static/img/contato.png"> (65) 98888-8888
      </div>
    </div>            
    </div> 

    {% endblock container %}