{% extends "base.html" %}

{% block container %}


<div class="col-sm-12 col-lg-12 text-center">
  <h1 class="display-4 mt-4">Seja bem vindo</h1>
  <img src="../static/img/logo1.png" alt="logo-mt-no-mundo" class="img-fluid">
</div>

<div class="row">
  <div class="col-md-12 text-center" id="main"> 
    <h2 class="mt-5">Sobre o MT no Mundão</h2>
    <p class="mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent hendrerit imperdiet neque, 
      vel vestibulum metus malesuada id. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      Quisque eget massa et magna sollicitudin pharetra id non augue. Pellentesque at sagittis velit, 
      eget ultricies mauris. Morbi erat lorem, ornare non odio quis, cursus luctus nunc. 
      Ut eget arcu diam. Quisque at neque velit. Donec bibendum mattis sem sed pulvinar. 
      Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent hendrerit imperdiet neque, 
        vel vestibulum metus malesuada id. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Quisque eget massa et magna sollicitudin pharetra id non augue. Pellentesque at sagittis velit, 
        eget ultricies mauris. Morbi erat lorem, ornare non odio quis, cursus luctus nunc. 
        Ut eget arcu diam. Quisque at neque velit. Donec bibendum mattis sem sed pulvinar. 
        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
      </div>
    </div>
 
    {% endblock container %}