{% extends "base.html" %}
{% load static %}
{% load thumbnail %}
{% block container %}
  

<h1 class="my-4 text-center">CDDs</h1>
<div class="row">
   
  {% for person in person_list %}
  {% if person.is_staff and if is not person.user.is_superuser  %}
  
  <div class="col-sm-6 text-center mb-4" id="main">
    {% thumbnail person.photo "200x200" crop="center" as im %}
      <img  class="rounded-circle img-fluid d-block mx-auto mb-2" src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}"  alt="person_photo" >
      {% empty %}
      <img class="rounded-circle img-fluid d-block mx-auto mb-2" src="{% static "img/thumbnail.png" %}" alt="thumbnail_photo">
      {% endthumbnail %}
      <span>Nome</span>
      <div class="font">
      <h5>{{ person.name }}</h5>
        <span>Idade:</span>
        <span>{% if person.age %}
        {{ person.age }}
        {% else %}
        Não informada.{% endif %}</span> -
      <span>Cidade:</span>
      <span>{% if person.city %}
      {{ person.city }}
      {% else %}
      Não informada.{% endif %}</span>
      <br>
      <span>Quantas vezes você foi no Conecades: </span>
      <span>{% if person.qnt %}
        {{ person.qnt }}
        {% else %}
        Não informada.
      {% endif %}</span>

      <br>
      <span>O que você mas gosta no conecades:</span><br>
      <p>{% if profile.about %}{{ profile.about }}{% else %} Nenhuma informação.{% endif %}</p>
        </div>
      </div> 
      {% endif %}
      
      {% endfor %}
      
    </div>

<h1 class="text-center members">Nossos Membros</h1>

      <!-- Team Members Row -->
      <div class="row">
      {% for person in person_list %}
      
    <div class="col-lg-4 col-sm-6 text-center mb-4 mb-2">
        {% thumbnail person.photo "200x200" crop="center" as im %}
          <img  class="rounded-circle img-fluid d-block mx-auto mb-2" src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}"  alt="person_photo" >
          {% empty %}
          <img class="rounded-circle img-fluid d-block mx-auto mb-2" src="{% static "img/photo.png" %}" alt="">
          {% endthumbnail %}
          <span>Nome</span>
          <div class="font">
          <h5>{{ person.name }}</h5>
          <span>Idade:</span>
          <span>{% if person.age %}
          {{ person.age }}
          {% else %}
         Não informada.{% endif %}</span> -
          <span>Cidade:</span>
          <span>{% if person.city %}
          {{ person.city }}
          {% else %}
          Não informada.{% endif %}</span>
          <br>
          <span>Quantas vezes você foi no Conecades: </span>
          <span>{% if person.qnt %}
            {{ person.qnt }}
            {% else %}
          0{% endif %}</span>
          <br>
        <span>O que você mas gosta no conecades:</span><br>
        <p>{% if profile.about %}{{ profile.about }}{% else %} Nenhuma informação.{% endif %}</p>
      </div>
    </div>
    {% endfor %}
    </div>


    {% endblock container %}